{% extends 'base.html.twig' %}

{% block title %}Gestion Flotte Auto{% endblock %}

{% block body %}
<br />
<div class="row">
    <div class="col-12">
        <div class="jumbotron">
            <h1 class="text-center">Gestion Flotte Automobile</h1>
            <hr>
            <p>Bonjour et bienvenue sur le site "Gestion flotte automobile" de SIP</p>
            <p>Pour commencer, veuillez vous connecter</p>
        </div>
    </div>
</div>



{% endblock %}